// color variables
$white: #FFFFFF;
$background: #22272C;
$button: #597387;
$button-focus: #596887;
$shadow: rgba(238,241,243, 0.2);
$accent: #958A56;

// spacing
$spacing: 8px;

// font weight
$normal: 400;
$bold: 700;

// border radius
$radius: 10px;

// centering
$block-center: 0 auto;