@use './variables.scss' as *;

body {
    background-color: $background;
    font-family: 'Roboto Condensed', sans-serif;
  }

.bold {
  font-weight: $bold;
}

.normal-font {
  font-weight: $normal;
}

h1 {
  font-size: $spacing * 5;
}